# Environnement virtuel
venv/
.venv/

# Cache Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Outils Python
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Couverture de tests
.coverage
htmlcov/

# VS Code
.vscode/

# Variables d'environnement
.env

# Fichiers système
.DS_Store
Thumbs.db